@font-face {
    font-family: CardenioModern;
    src: url("/static/CardenioModern-Regular.otf") format("opentype");
}

.container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ws-font {
    font-family: CardenioModern;
}

.title {
    font-size: 3rem;
    margin-bottom: .5rem;
}

/* Add Players Page */
#players .player-name {
    font-family: CardenioModern;
    font-size: 2rem;
    text-align: center;
}

#players #new-player-name {
    margin-top: 2rem;
}

/* Scorecard Page */
#scorecard table {
    font-family: CardenioModern;
    font-size: 2rem;
}

#scorecard table tfoot tr:last-child td {
    border-top: 4px solid var(--table-border-color);
    border-bottom: none;
    font-size: 1.5rem;
}

#scorecard .score-type {
    border-right: var(--border-width) solid var(--table-border-color);
    writing-mode: sideways-rl;
    font-size: 1.3rem;
}

.modal-body .update-player-points {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.modal-body .update-player-points div {
    font-family: CardenioModern;
    font-size: 2rem;
}

.modal-body .update-player-points input {
    max-width: 8rem;
    margin-left: 2rem;
    margin-bottom: 0;
}