@font-face {
    font-family: CardenioModern;
    src: url("/static/CardenioModern-Regular.otf") format("opentype");
}

.container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ws-font {
    font-family: CardenioModern;
}

.title {
    font-size: 3rem;
    margin-bottom: .5rem;
}

#players .player-name {
    font-family: CardenioModern;
    font-size: 2rem;
    text-align: center;
}

#players #new-player-name {
    margin-top: 2rem;
}